<div class="row mt-4"> 
    <div class="col-lg-3">
        <h3>Panel de usuario</h3>
        <hr>
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <!-- NO se usar "/" para acceder a las rutas hijas en el routerLink-->
            <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" [routerLink]="['listado']" role="tab" aria-controls="v-pills-home" aria-selected="true">Mis temas</a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" [routerLink]="['crear']" role="tab" aria-controls="v-pills-profile" aria-selected="false">Crear tema</a>
            <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" [routerLink]="['/ajustes']" role="tab" aria-controls="v-pills-messages" aria-selected="false">Ajustes</a>
        </div>
    </div>
    
    <div class="col-lg-9">
        <div class="tab-content" id="v-pills-tabContent">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>